@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Ensure full viewport height */
}

.splitScreen {
  display: grid;
  grid-template-columns: 75%fr 25%;
  /* 1 fraction for the main pane, 25% for the side pane */
  height: 100vh;
  /* Full viewport height */
}

.topPane {
  grid-column: 1 / 2;
  /* Span the first column */
  position: fixed;
  text-align: left;
}

.bottomPane {
  grid-column: 2 / 3;
  /* Span the second column */
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  padding-right: 15px;
  background-color: #f0f0f0;
  overflow-y: auto;
  /* Enable vertical scrolling if content exceeds the pane's height */
}

.videoGridContainer {
  max-width: 70%;
  /* Ensure it takes up the available width */
  overflow-y: auto;
  /* Enable vertical scrolling */
  max-height: calc(100vh - 2rem);
  /* Adjust max height to fit within topPane */
}



.icon {
  font-size: 0.5rem;
}

.tool-button {
  padding: 2px;
  background-color: #f0f0f0;
}

.tool-button:hover {
  background-color: white;
  border: 1px solid #0f545d;
}

.file-count-button {
  padding: 8px 12px;
  font-size: 12px;
}



.table {
  width: 100%;
  /* Ensure table takes full width */
  border-collapse: collapse;
  /* Collapse table borders */
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}

tr:hover {
  background-color: #f9f9f9;
}